
bdoy{
    display: flex;
    align-items: center;
}
#navhead{
    width: 1240px;
height: 36px;
margin-top: 50px;
margin-left: 100px;
border-radius: 10px;

}

.collapse{
    margin-left: 200px;
}

.nav-item{
    padding:30px;
}

#trolley{
    margin-left:10px;
    margin-top:20px;

}



.new-btn{
    border-radius: 5px;
    align-items: center;
}
